@*Using a Viewbag with a loosley typed, no model version *@

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>@ViewBag.MyMessageToUsers </h1>

<table class="table">

    <tr>
        <th>
            <img src="~/Content/Image/babygoat3.jpg" />
        </th>
        <th>
            <img src="~/Content/Image/babygoat1.jpg" />
        </th>
        <th>
            <img src="~/Content/Image/babygoat2.jpg" />
        </th>
        <th>
            <img src="~/Content/Image/babygoat4.jpg" />
        </th>
    </tr>

</table>